/*====================================================================================================================*/
/*                                                    Font Settings
/*====================================================================================================================*/
body {
    font-family: 'Open Sans', sans-serif;
}
.name {
    font-family: 'Marcellus SC', serif;
}
.typing {
    font-family: 'Press Start 2P', cursive;
    font-size: large;
}
/*====================================================================================================================*/
/*                                                   Navbar Underline
/*====================================================================================================================*/
nav ul li a {
  position: relative;
  text-decoration: none;
  color: #0d6efd;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #0d6efd;
  transition: all 0.5s;
  transform: translateX(-50%);
}

nav ul li a:hover::after {
  width: 75%;
}

/*====================================================================================================================*/
/*                                                   Navbar mobile
/*====================================================================================================================*/
.mobile-navbar {
    position: absolute;
    font-size: 0.875em;
}
/*====================================================================================================================*/
/*                                                      Header
/*====================================================================================================================*/
#header {
    min-height: 90vh;
}
/*====================================================================================================================*/
/*                                                  Header mobile
/*====================================================================================================================*/
@media screen and (max-width: 450px) {
    .typing {
        font-size: 0.5em;
    }
}
/*====================================================================================================================*/
/*                                                  Projects
/*====================================================================================================================*/
#projects {
    min-height: 80vh;
}



/*====================================================================================================================*/
/*                                              Projects mobile
/*====================================================================================================================*/


/*====================================================================================================================*/
/*                                                  Skills
/*====================================================================================================================*/
#skills {
    min-height: 65vh;
}
#skills iconify-icon {
    display:block;
}

/*====================================================================================================================*/
/*                                              Skills Mobile
/*====================================================================================================================*/




/*====================================================================================================================*/
/*                                              About & Contact mobile
/*====================================================================================================================*/
@media screen and (max-width: 450px) {
    #profile-pic{
        width: 256px;
        height: 256px;
    }
}

/*====================================================================================================================*/
/*                                                  Separators
/*====================================================================================================================*/

/*====================================================================================================================*/
/*                                                  Back to Top Button
/*====================================================================================================================*/
#backToTopBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 0.5rem 0.9rem;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#backToTopBtn.show {
    opacity: 0.8;
    visibility: visible;
}

/*====================================================================================================================*/
/*                                            Particles.js Adjustments
/*====================================================================================================================*/
header {
    position: relative;
    z-index: 10;
}
#hero {
    z-index: 20;
}
#particles-js {
    height: 100vh;
    width: 98vw;
    position: absolute;
    z-index: -1;
}
#particles-js2 {
    height: 100vh;
    width: 97vw;
    position: absolute;
    z-index: -1;
}
@media screen and (max-width: 450px) {
    #particles-js {
        width: 90vw;
        z-index: -1;
    }
    #particles-js2 {;
        width: 88vw;
        position: absolute;
        z-index: -1;
    }
}

/*====================================================================================================================*/
/*                                              Hide for Mobile/Desktop
/*====================================================================================================================*/
@media screen and (max-width: 430px) {
    .hide-for-mobile {
        visibility: hidden;
    }
}

@media screen and (min-width: 800px) {
    .hide-for-desktop {
        visibility: hidden;
  }
}

/*====================================================================================================================*/
/*                                                  Egg Links
/*====================================================================================================================*/
#name-egg {
    color: inherit;      /* Link color will be the same as the surrounding text color */
    text-decoration: none;  /* Removes the underline */
}

#name-egg:hover, #name-egg:active, #name-egg:focus {
    color: inherit;      /* Ensures the link color doesn't change on hover/active/focus */
    text-decoration: none;  /* Removes the underline on hover/active/focus */
}
#foot-egg {
    color: inherit;      /* Link color will be the same as the surrounding text color */
    text-decoration: none;  /* Removes the underline */
}

#foot-egg:hover, #foot-egg:active, #foot-egg:focus {
    color: inherit;      /* Ensures the link color doesn't change on hover/active/focus */
    text-decoration: none;  /* Removes the underline on hover/active/focus */
}

