/*
    Font Settings
 */
body {
    font-family: 'Open Sans', sans-serif;
}
.name {
    font-family: 'Marcellus SC', serif;
}
.typing {
    font-family: 'Press Start 2P', cursive;
    font-size: large;
}

/*====================================================================================================================*/

/*
    Navbar mobile
 */
.mobile-navbar {
    position: absolute;
    font-size: 0.875em;
}

/*====================================================================================================================*/
/*
    Hero mobile
 */

/*====================================================================================================================*/

/*
    Back to Top Button
 */
#backToTopBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 0.5rem 0.9rem;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#backToTopBtn.show {
    opacity: 1;
    visibility: visible;
}

/*====================================================================================================================*/

/*
    Particles.js Adjustments
 */
header {
    position: relative;
    z-index: 10;
}
#hero {
    z-index: 20;
}
#particles-js {
    height: 100vh;
    width: 98vw;
    position: absolute;
    z-index: -1;
}
@media screen and (max-width: 450px) {
    #particles-js {
    width: 90vw;
    z-index: -1;
  }
}
/*====================================================================================================================*/

/*
    Hide for Mobile/Desktop
 */
@media screen and (max-width: 430px) {
    .hide-for-mobile {
        visibility: hidden;
    }
}

@media screen and (min-width: 800px) {
    .hide-for-desktop {
        visibility: hidden;
  }
}

